<div class="span8 well">
  <%= render 'posts/categories', post: post %>
  <h3><%= link_to post.title, fix_url(post.url) %></h3>
  <p><%= post.description %></p>
  <span>
    <p><i>Created by:</i> <%= post.creator.username %> on <%= datetime(post.created_at) %></p>
  </span>
  <br />
  <% if logged_in? && same_user?(post) %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <br />
  <% end %>
  <%= link_to 'Comments', post_path(post) %>
</div>
