<% if logged_in? && same_user?(@post) %>
  <p>
    [<%= link_to 'Edit Post', edit_post_path(@post) %>]
  </p>
<% end %>

<h3><%= @post.title %></h3>

<hr>
<p><%= @post.description %></p>

<br><br>

<% if logged_in? %>

  <%= render 'shared/errors', item: @comment %>

  <div>
    <h5>New Comment</h5>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.label :body, 'Message' %>
      <%= f.text_area :body %>
      <br />
      <%= f.submit %>
    <% end %>
  </div>

  <br>

<% end %>

<h4>Comments:</h4>

<%= render 'comments/comments', comments: @post.comments %>
