<p>
  [<%= link_to 'Edit Post', edit_post_path(@post) %>]
</p>
<h3><%= @post.title %></h3>

<hr>
<p><%= @post.description %></p>

<br><br>

<%= render 'shared/errors', item: @comment %>

<div>
  <h5>New Comment</h5>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body, 'Message' %>
    <%= f.text_area :body %>
    <br />
    <%= f.submit %>
  <% end %>
</div>

<br>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <div class="span8 well">
    <p><%= comment.body %></p>
    <span>
      <p><i>Created by:</i> <%= comment.creator.username %> at <%= comment.created_at %></p>
    </span>
  </div>
<% end %>
